.buttons {

    width:300px;
    margin-bottom:20px
}
.jumbotron {
background-color:#281731;
color:white;
}
.navbar {
    background-color:#281731;
}


select {
  
height:40px;
width:200px;
}
option {

font-size:20px;
}
