
    <div class="col-md-6">
        <div class=" row" ng-repeat="item in requestedItems" ng-if="$index % 2 == 0">
            <div class="col-md-6 ui-widget-content">
                <div class="thumbnail" ng-click="itemClick(item.ItemName,item.Cost)">
                    <img ng-src="{{requestedItems[$index].ImageSource}}" />               
                    <h4>{{requestedItems[$index].ItemName}}</h4>
                    <h4>Cost : {{requestedItems[$index].Cost}}</h4>
                </div>
            </div>
            <div class="col-md-6 ui-widget-content">
                <div class="thumbnail" ng-if=" requestedItems[$index + 1].ItemName !=null" ng-click="itemClick(requestedItems[$index+1].ItemName,requestedItems[$index+1].Cost)">
                    <img ng-src="{{requestedItems[$index+1].ImageSource}}" />
                    <h4>{{requestedItems[$index+1].ItemName}}</h4>
                    <h4>Cost : {{requestedItems[$index+1].Cost}}</h4>
                </div>
            </div>
        </div> <!--END OF ROW  -->
    </div>


    <div class="col-md-1"></div>
    <div class="col-md-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Cost</th>


                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in orderedItems" ng-dblclick="doubleClick(item)">
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.cost * item.quantity}}</td>
                </tr>
            </tbody>
        </table>
        <h4><b>Total : {{totalCost}}</b></h4>

     </div>

<div ui-view></div>

